<!Doctype html>

<html layout:decorator="shared/layout">
<head>
</head>
<body>

	<div layout:fragment="pageheader">

		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css" th:href="@{/assets/global/plugins/select2/select2.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css"  th:href="@{/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css"  th:href="@{/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"  th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"/>
		<!-- END PAGE LEVEL SCRIPTS -->
		
		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css"  th:href="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"  th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css"  th:href="@{/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css"  th:href="@{/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/typeahead/typeahead.css"  th:href="@{/assets/global/plugins/typeahead/typeahead.css}"/>
		<!-- END PAGE LEVEL STYLES -->
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-edit"></i>Байгууллага бүртгэх
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body form">
						<div class="row">
							<div class="col-md-12">
								<form id="org-form" th:action="@{/organization}" th:object="${organization}" class="form-horizontal" method="post" accept-charset="utf-8" autocomplete="off" enctype="multipart/form-data">
									<div class="form-body">
										<div th:if="${errors != null and #lists.size(errors) > 0} "
											class="alert alert-danger ">
											<button class="close" data-close="alert"></button>
											<span th:each="err : ${errors}" th:text="${err.defaultMessage}"></span>
										</div>
										<div th:if="${error != null} " class="alert alert-danger ">
											<button class="close" data-close="alert"></button>
											<span th:text="${error}"></span>
										</div>
									
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<input type="hidden" name="id" th:value="${organization.id}" />
										<div class="row">
											<div class="col-md-1"></div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label col-md-3"> Байгууллагын нэр <span class="required"> * </span></label> 
													<div class="col-md-9">
														<input type="text" name="name" data-required="1" class="form-control" th:value="${organization.name}"/>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3"> Байгууллагын код <span class="required"> * </span></label> 
													<div class="col-md-9">
														<input type="text" name="code" data-required="1" class="form-control" th:value="${organization.code}"/>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3"> Байгууллагын утас </label> 
													<div class="col-md-9">
														<input type="text" name="phone" data-required="1" class="form-control" th:value="${organization.phone}"/>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3"> Байгууллагын дэлгэрэнгүй </label> 
													<div class="col-md-9">
														<input type="text" name="description" data-required="1" class="form-control" th:value="${organization.description}"/>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3"> Байгууллагын төрөл <span class="required"> * </span></label> 
													<div class="col-md-9">
														<select name="organizationType" class="form-control">
															<option value="">Сонгох...</option>
															<option th:each="types : ${orgTypes}"
																th:value="${types.name()}" th:text="${types.label}"
																th:attr="selected=${ (organization.organizationType != null and types.name() == organization.organizationType.name()) ? 'true' : 'false'}"></option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3"> Байгууллагын түвшин <span class="required"> * </span></label> 
													<div class="col-md-9">
														<select name="organizationLevel" class="form-control">
															<option value="">Сонгох...</option>
															<option th:each="level : ${orgLevel}"
																th:value="${level.name()}" th:text="${level.label}"
																th:attr="selected=${ (organization.organizationLevel != null and level.name() == organization.organizationLevel.name()) ? 'true' : 'false'}"></option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3"> Аймаг </label> 
													<div class="col-md-9">
														<select class="form-control" id="aimag" name="aimag">
															<option value="">Сонгох...</option>
															<option th:each="aimag : ${aimag}"
																th:value="${aimag.id}" th:text="${aimag.name}"
																th:attr="selected=${ (organization.aimag != null and aimag.id == organization.aimag.id) ? 'true' : 'false'}"></option>
														</select>
													</div>
												</div>
												
												<div class="form-group">
													<label class="control-label col-md-3"> Сум </label> 
													<div class="col-md-9">
														<select class="form-control" id="sum" name="sum">
															<option value="">Сонгох...</option>
														</select>
													</div>
												</div>
												
												<div class="form-group">
													<label class="control-label col-md-3"> Дээд шатны байгууллага </label> 
													<div class="col-md-9">
														<select class="form-control" name="organizationId">
															<option value="">Сонгох...</option>
															<option th:each="org : ${orgs}"
																th:value="${org.id}" th:text="${org.name}"
																th:attr="selected=${ (organization.organizationId != null and org.id == organization.organizationId) ? 'true' : 'false'}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-3"></div>
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-1"></div>
											<div class="col-md-7">
												<a th:href="@{/organizations}"><i class="fa fa-arrow-left"></i> Жагсаалтруу очих </a>
											</div>
											<div class="col-md-4">
												<button type="submit" class="btn blue">Хадгалах</button>
												<button id="formReset" type="button" class="btn default">Болих</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
		<!-- END PAGE CONTENT-->
	</div>
	<div layout:fragment="pagefoot">
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js"  th:src="@{/assets/global/plugins/jquery-validation/js/additional-methods.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js" th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" th:src="@{/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/assets/global/plugins/fuelux/js/spinner.min.js" th:src="@{/assets/global/plugins/fuelux/js/spinner.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" th:src="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" th:src="@{/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js" th:src="@{/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
		<script src="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript" th:src="@{/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js}"></script>
		<script src="/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript" th:src="@{/assets/global/plugins/typeahead/handlebars.min.js}"></script>
		<script src="/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript" th:src="@{/assets/global/plugins/typeahead/typeahead.bundle.min.js}"></script>
		<script src="/assets/admin/pages/scripts/form-validation.js" th:src="@{/assets/admin/pages/scripts/form-validation.js}"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/public/scripts/organizationForm.js" th:src="@{/public/scripts/organizationForm.js}"></script>
		<script>
			jQuery(document).ready(function() {
				orgTable.init();
			});
		</script>
	</div>

</body>
</html>





