<!Doctype html>

<html layout:decorator="shared/layout">
<head>
</head>
<body>

	<div layout:fragment="pageheader">

		<!-- BEGIN PAGE LEVEL STYLES -->		
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css" th:href="@{/assets/global/plugins/select2/select2.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" th:href="@{/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" th:href="@{/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css}"/>
		<!-- END PAGE LEVEL STYLES -->
	</div>
	<div layout:fragment="content">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>Байгууллагуудын бүртгэл
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">
					
						<sec:authorize access="hasPermission(#domain,'read') or hasPermission(#domain,'write')">

							This content will only be visible to users who have read or write permission to the Object found as a request attribute named "domain".
						
						</sec:authorize>
						
					
						<div class="col-md-12">
							<div class="col-md-6" style="margin: 0px; padding: 0px;">
								<div class="btn-group">
									<a class="btn blue"
										th:href="@{/organization}"> Шинээр нэмэх <i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
							<table class="table table-striped table-hover table-bordered" id="org_editable_1">
								<thead>
									<tr>
										<th></th>
										<th>Нэр</th>
										<th>Код</th>
										<th>Утас</th>
										<th>Төрөл</th>
										<th>Түвшин</th>
										<th>Засах</th>
										<th>Устгах</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="orgs : ${organizations}">
										<td th:text="${orgs.id}"></td>
										<td th:text="${orgs.name}"></td>
										<td th:text="${orgs.code}"></td>
										<td th:text="${orgs.phone}"></td>
										<td th:text="${orgs.organizationType}"></td>
										<td th:text="${orgs.organizationLevel}"></td>
										<td style="text-align: center;"><a class="edit" th:href="@{'/organization/' + ${orgs.id}}"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
										<td style="text-align: center;"><a class="delete" href="javascript:;"><i class="fa fa-trash fa-lg"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT-->
	</div>
	<div layout:fragment="pagefoot">
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js" th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js" th:src="@{/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js" th:src="@{/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js" th:src="@{/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js" th:src="@{/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" th:src="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js}"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/public/scripts/organization.js" th:src="@{/public/scripts/organization.js}"></script>
		<script>
			jQuery(document).ready(function() {
				orgTable.init();
			});
		</script>
	</div>

</body>
</html>





