<!Doctype html>

<html layout:decorator="shared/layout">
<head>
</head>
<body>

	<div layout:fragment="pageheader">

		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css"
			href="/assets/global/plugins/select2/select2.css"
			th:href="@{/assets/global/plugins/select2/select2.css}" />
		<link rel="stylesheet" type="text/css"
			href="/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"
			th:href="@{/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css}" />
		<link rel="stylesheet" type="text/css"
			href="/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"
			th:href="@{/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css}" />
		<link rel="stylesheet" type="text/css"
			href="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"
			th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css}" />
		<!-- END PAGE LEVEL STYLES -->
		
	</div>
	<div layout:fragment="content">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>Байгууллагуудын бүртгэл
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div sec:authorize="hasRole('ORG_READ') or hasRole('ROLE_ADMIN')">
					<div class="table-toolbar">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
									<div class="portlet-title">
										<div class="caption">
											<span class="caption-subject bold font-grey-gallery uppercase"> Хайх </span>
											<span class="caption-helper"> </span>
										</div>
										<div class="tools">
											<a href="#" class="collapse"> </a>
										</div>
									</div>
									<div class="portlet-body">
										<form th:action="@{/organization/search}"
											class="form-horizontal" method="post" accept-charset="utf-8"
											autocomplete="off" enctype="multipart/form-data">
											
											<label class="control-label col-md-2">Байгууллагын төрөл</label>
											<div class="col-md-3">
												<select class="form-control" id="orgType" name="orgType">
													<option value="">Сонгох...</option>
													<option th:each="orgType : ${orgTypes}"
														th:value="${orgType.name()}" th:text="${orgType.label}"
														th:attr="selected=${(org != null and orgType.name() == org) ? true : false}"></option>
												</select>
											</div>
		
											<label class="control-label col-md-2">Байгууллагын нэр</label>
											<div class="col-md-3">
												<div class="form-body">
													<div class="form-group">
														<div class="col-md-9">
															<input type="text" class="form-control" name="name" th:value="${orgName}"/>
														</div>
														<div class="col-md-3">
															<button type="submit" class="btn blue">Хайх</button>
														</div>
													</div>
												</div>
											</div>
		
										</form>
									</div>
								</div>
							</div>
						
							<div class="col-md-12">
								<div class="col-md-2" style="margin: 0px; padding: 0px;">
									<div class="btn-group">
										<a class="btn blue"
											sec:authorize="hasRole('ORG_CREATE') or hasRole('ROLE_ADMIN')"
											th:href="@{/organization}"> Шинээр нэмэх <i
											class="fa fa-plus"></i>
										</a>
									</div>
								</div>
								<div th:if="${#lists.isEmpty(organizations)}" class="clearfix alert alert-info">Тохирох өгөгдөл олдсонгүй</div>
								<table class="table table-striped table-hover table-bordered" th:if="${not #lists.isEmpty(organizations)}"
									id="org_editable_1">
									<thead>
										<tr>
											<th></th>
											<th>Нэр</th>
											<th>Код</th>
											<th>Утас</th>
											<th>Төрөл</th>
											<th>Түвшин</th>
											<th>Засах</th>
											<th>Устгах</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="orgs : ${organizations}">
											<td th:text="${orgs.id}"></td>
											<td th:text="${orgs.name}"></td>
											<td th:text="${orgs.code}"></td>
											<td th:text="${orgs.phone}"></td>
											<td th:text="${orgs.organizationType}"></td>
											<td th:text="${orgs.organizationLevel}"></td>
											<td style="text-align: center;"><a class="edit"
												sec:authorize="hasRole('ORG_CREATE') or hasRole('ROLE_ADMIN')"
												th:href="@{'/organization/' + ${orgs.id}}"><i
													class="fa fa-pencil-square-o fa-lg"></i></a></td>
											<td style="text-align: center;"><a class="delete"
												sec:authorize="hasRole('ORG_DELETE') or hasRole('ROLE_ADMIN')"
												href="javascript:;"><i class="fa fa-trash fa-lg"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT-->
	</div>
	<div layout:fragment="pagefoot">
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript"
			src="/assets/global/plugins/select2/select2.min.js"
			th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script type="text/javascript"
			src="/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"
			th:src="@{/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript"
			src="/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"
			th:src="@{/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js}"></script>
		<script type="text/javascript"
			src="/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"
			th:src="@{/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js}"></script>
		<script type="text/javascript"
			src="/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"
			th:src="@{/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js}"></script>
		<script type="text/javascript"
			src="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"
			th:src="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js}"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/public/scripts/organization.js"
			th:src="@{/public/scripts/organization.js}"></script>
		<script>
			jQuery(document).ready(function() {
				orgTable.init();
			});
		</script>
	</div>

</body>
</html>





