<!Doctype html>

<html layout:decorator="shared/layout">
<head>
</head>
<body>

	<div layout:fragment="pageheader">

		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css" th:href="@{/assets/global/plugins/select2/select2.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" th:href="@{/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" th:href="@{/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}"/>
		<!-- END PAGE LEVEL SCRIPTS -->
		
		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" th:href="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css" th:href="@{/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" th:href="@{/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css}"/>
		<link rel="stylesheet" type="text/css" href="/assets/global/plugins/typeahead/typeahead.css" th:href="@{/assets/global/plugins/typeahead/typeahead.css}"/>
		<!-- END PAGE LEVEL STYLES -->
	</div>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN EXAMPLE TABLE PORTLET-->
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-edit"></i>Хэрэглэгч бүртгэх
						</div>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a>
						</div>
					</div>
					<div class="portlet-body form">
							<div class="row">
								<div class="col-md-12">
									<form id="user-form" th:action="@{/user}" class="form-horizontal"
										method="post" accept-charset="utf-8"  autocomplete="off"
										enctype="multipart/form-data">
										<div class="form-body">
										
											<div th:if="${errors != null and #lists.size(errors) > 0} "
												class="alert alert-danger ">
												<button class="close" data-close="alert"></button>
												<span th:each="err : ${errors}"
													th:text="${err.defaultMessage}"></span>
											</div>
											<div th:if="${error != null} " class="alert alert-danger ">
												<button class="close" data-close="alert"></button>
												<span th:text="${error}"></span>
											</div>
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" /> <input type="hidden" name="id"
												th:value="${user.id}" />
										
											<div class="row">
												<div class="col-md-1"></div>
												<div class="col-md-10">
													<div class="form-group">
														<label
															class="control-label col-md-3">Хэрэглэгчийн нэр<span
															class="required"> * </span>
														</label>
														<div class="col-md-9">
															<input type="text" name="username" th:value="${user.username}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-3">Нууц үг
														</label>
														<div class="col-md-9">
															<input type="password" autocomplete="off" name="password" data-required="1" class="form-control" />
														</div>
													</div>
													
													<div class="form-group">
														<label
															class="control-label col-md-3">Овог<span
															class="required"> * </span>
														</label>
														<div class="col-md-9">
															<input type="text" name="lastName" th:value="${user.lastName}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													<div class="form-group">
														<label
															class="control-label col-md-3">Нэр<span
															class="required"> * </span>
														</label>
														<div class="col-md-9">
															<input type="text" name="firstName" th:value="${user.firstName}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													<div class="form-group">
														<label
															class="control-label col-md-3">Регистерийн дугаар
														</label>
														<div class="col-md-9">
															<input type="text" name="regName" th:value="${user.regName}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													<div class="form-group">
														<label
															class="control-label col-md-3">Утас
														</label>
														<div class="col-md-9">
															<input type="text" name="phone" th:value="${user.phone}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													<div class="form-group">
														<label
															class="control-label col-md-3">Цахим шуудан
														</label>
														<div class="col-md-9">
															<input type="text" name="email" th:value="${user.email}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													<div class="form-group">
														<label
															class="control-label col-md-3">Хаяг
														</label>
														<div class="col-md-9">
															<input type="text" name="address" th:value="${user.address}"
																class="form-control" autocomplete="off" />
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-3"> Эрх <span
															class="required"> * </span>
														</label>
														<div class="col-md-9">
															<select class="form-control" name="role">
																<option value="">Сонгох...</option>
																<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"
																th:attr="selected=${ (user.role != null and role.id == user.role.id) ? 'true' : 'false'}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Системийн хэрэглэгч</label>
														<div class="col-md-9">
															<label>
																<input th:if="${user.sysUser}" name="sysUser" type="checkbox" checked="checked" />
																<input th:unless="${user.sysUser}" name="sysUser" type="checkbox" />
															</label>
														</div>
													</div>
													<div class="form-group">
														<label class="col-md-3 control-label">Идвэхтэй хэрэглэгч</label>
														<div class="col-md-9">
															<label> 
																<input th:if="${user.active}" name="active" type="checkbox" checked="checked" />
																<input th:unless="${user.active}" name="active" type="checkbox" />
															</label>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-3">Үүсгэсэн огноо</label>
														<div class="col-md-9">
															<input type="text" disabled="disabled" th:value="${user.createdDate}"
																class="form-control" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-1"></div>
												<div class="col-md-7">
													<a th:href="@{/users}"><i class="fa fa-arrow-left"></i> Жагсаалт руу буцах </a>
												</div>
												<div class="col-md-4">
													<button type="submit" class="btn blue">Хадгалах</button>
													<button id="formReset" type="button" class="btn default">Болих</button>
												</div>
											</div>
										</div>
									</form>
								</div>
						</div>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
		<!-- END PAGE CONTENT-->
	</div>
	<div layout:fragment="pagefoot">
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js"  th:src="@{/assets/global/plugins/jquery-validation/js/additional-methods.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js" th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" th:src="@{/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="/assets/global/plugins/fuelux/js/spinner.min.js" th:src="@{/assets/global/plugins/fuelux/js/spinner.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" th:src="@{/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" th:src="@{/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js}"></script>
		<script type="text/javascript" src="/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js" th:src="@{/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
		<script src="/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript" th:src="@{/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js}"></script>
		<script src="/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript" th:src="@{/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js}"></script>
		<script src="/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript" th:src="@{/assets/global/plugins/typeahead/handlebars.min.js}"></script>
		<script src="/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript" th:src="@{/assets/global/plugins/typeahead/typeahead.bundle.min.js}"></script>
		<script src="/assets/admin/pages/scripts/form-validation.js" th:src="@{/assets/admin/pages/scripts/form-validation.js}"></script>
		<!-- END PAGE LEVEL PLUGINS -->

		<script src="/public/scripts/user.js" th:src="@{/public/scripts/user.js}"></script>

		<script>
			jQuery(document).ready(function() {
				userTable.init();
			});
		</script>
	</div>

</body>
</html>





