<!DOCTYPE html>
<html>
<body>
	<div class="page-sidebar navbar-collapse collapse" th:fragment="menu">
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li>
				<a href="javascript:;"> 
					<img src="/assets/admin/img/icon/order.png" th:src="@{/assets/admin/img/icon/reg.png}" width="31" /> 
					<span class="title">Бүртгэл</span> <span class="arrow "></span>
				</a>
				<ul class="sub-menu">
					<li><a th:href="@{/permissions}">Албан тушаал</a></li>
				</ul>
				<a href="javascript:;"> 
					<img src="/assets/admin/img/icon/order.png" th:src="@{/assets/admin/img/icon/configuration.png}" width="31" /> 
					<span class="title">Удирдлага тохиргоо</span> <span class="arrow "></span>
				</a>
				<ul class="sub-menu">
					<li><a th:href="@{/users}">Хэрэглэгч</a></li>
					<li><a th:href="@{/roles}">Эрхийн тохиргоо</a></li>
				</ul>
				<a th:href="@{/fly}"> 
					<img src="/assets/admin/img/icon/order.png" th:src="@{/assets/admin/img/icon/configuration.png}" width="31" /> 
					<span class = "title" >Нислэг</span>
				</a>
				<a th:href="@{/travel}"> 
					<img src="/assets/admin/img/icon/order.png" th:src="@{/assets/admin/img/icon/configuration.png}" width="31" /> 
					<span class="title">Аялал</span> 
				</a>
				<a href="javascript:;"> 
					<img src="/assets/admin/img/icon/order.png" th:src="@{/assets/admin/img/icon/configuration.png}" width="31" /> 
					<span class="title">Захиалга</span> 
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</body>
</html>