#order-form .portlet.light {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#order-form .portlet.light > .portlet-title > .caption {
	padding: 0px;
}

#order-form .portlet.light > .portlet-title {
	min-height: 24px;
}

#order-form .portlet.light > .portlet-title > .tools {
	padding: 5px;
}

#order-form .portlet.light > .portlet-title > .caption > .caption-subject {
	font-size: 12px;
}

a.orderstupa:link{
	color: #ff0000 !important;
}
a.orderstupa:visited{
	color: #5b9bd1 !important;
}

.fld-money {
	text-align: right; 
}
