<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>ИНЕГ</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="" name="description" />
<meta content="" name="author" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="/assets/googlefonts/googlefont.css"
	th:href="@{/assets/googlefonts/googlefont.css}" rel="stylesheet"
	type="text/css" />
<link
	href="/assets/global/plugins/font-awesome/css/font-awesome.min.css"
	th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />
<link
	href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
	th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}"
	rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css"
	th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/uniform/css/uniform.default.css"
	th:href="@{/assets/global/plugins/uniform/css/uniform.default.css}"
	rel="stylesheet" type="text/css" />
<link
	href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
	th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}"
	rel="stylesheet" type="text/css" />
<link
	href="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"
	th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css}"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"
	href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
	th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" />
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN THEME STYLES -->
<link href="/assets/global/css/components.css"
	th:href="@{/assets/global/css/components.css}" id="style_components"
	rel="stylesheet" type="text/css" />
<link href="/assets/global/css/plugins.css"
	th:href="@{/assets/global/css/plugins.css}" rel="stylesheet"
	type="text/css" />
<link href="/assets/admin/layout2/css/layout.css"
	th:href="@{/assets/admin/layout2/css/layout.css}" rel="stylesheet"
	type="text/css" />
<link href="/assets/admin/layout2/css/themes/default.css"
	th:href="@{/assets/admin/layout2/css/themes/default.css}"
	rel="stylesheet" type="text/css" id="style_color" />
<link href="/assets/admin/layout2/css/custom.css"
	th:href="@{/assets/admin/layout2/css/custom.css}" rel="stylesheet"
	type="text/css" />
<link href="/public/css/style.css" th:href="@{/public/css/style.css}"
	rel="stylesheet" type="text/css" />

<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico" />
<script>
	function fvsS(statuses, maintabid, orderstatusid) {
		var status = $('#' + orderstatusid).val();
		for (var i = statuses.length - 1; i >= 0; i--) {
			if (status == statuses[i]) {
				$("#" + maintabid + " :input").attr("disabled", true);

				$("#" + maintabid + " button").attr("disabled", true);

				$("#" + maintabid + " a").attr("disabled", true).on("click",
						function() {
							return false;
						});
				$("#" + maintabid + " label").attr("disabled", true).on(
						"click", function() {
							return false;
						});

				$("#" + maintabid + " a.enabledlink").removeAttr("disabled")
						.off("click");
				$("#" + maintabid + " a.collapse").removeAttr("disabled").off(
						"click");
				$("#" + maintabid + " a.expand").removeAttr("disabled").off(
						"click");
			}
		}
	}
</script>
</head>
<body
	class="page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed-mobile page-footer-fixed1">
	<div id="pageheader" layout:fragment="pageheader"></div>
	<!-- BEGIN HEADER -->
	<div class="page-header navbar navbar-fixed-top">
		<!-- BEGIN HEADER INNER -->
		<div class="page-header-inner">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<img
					src="/assets/admin/img/logo_menu.png"
					th:src="@{/assets/admin/img/logo_menu.png}" alt="logo"
					class="logo-default" width="120" center="auto" />
				<!-- 				<div class="menu-toggler sidebar-toggler"> -->
				<!-- 					DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
				<!-- 				</div> -->
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler responsive-toggler"
				data-toggle="collapse" data-target=".navbar-collapse"> </a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN PAGE TOP -->
			<div class="page-top">
				<!-- BEGIN HEADER SEARCH BOX -->
				<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
				<form class="search-form search-form-expanded" action=""
					method="GET">
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Хайх" name="query" /> <span
							class="input-group-btn"> <a href="javascript:;"
							class="btn submit"><i class="icon-magnifier"></i></a>
						</span>
					</div>
				</form>
				<!-- END HEADER SEARCH BOX -->
				<!-- BEGIN TOP NAVIGATION MENU -->
				<div class="top-menu">

					<ul class="nav navbar-nav pull-right">
						<li class="dropdown dropdown-extended dropdown-notification"
							id="header_notification_bar"><a href="javascript:;"
							class="dropdown-toggle" data-toggle="dropdown"
							data-hover="dropdown" data-close-others="true"> <i
								class="icon-bell"></i> <span id="spanCountRecent"
								class="badge badge-default" style="display: none;"></span>
						</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3 id="pnlNumberPenddingNotifications">
										Хүлээгдэж буй <span class="bold"
											id="spanNumberPenddingNotifications">0</span>
									</h3> <a href="/notifications">Бүгд</a>
								</li>
								<li>
									<ul id="pnlUnreadNotification"
										class="dropdown-menu-list scroller" style="height: 250px;"
										data-handle-color="#637283">
									</ul>
								</li>
							</ul></li>
						<!-- END NOTIFICATION DROPDOWN -->
						<!-- BEGIN USER LOGIN DROPDOWN -->
						<li class="dropdown dropdown-user"><a href="javascript:;"
							class="dropdown-toggle" data-toggle="dropdown"
							data-hover="dropdown" data-close-others="true"> <img alt="" class="img-circle" th:src="@{/assets/admin/layout2/img/avatar3_small.jpg}"/> <span
								class="username username-hide-on-mobile" th:inline="text"
								id="username"></span> <i class="fa fa-angle-down"></i>
						</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li id="pnlLayoutUserInfo" style="display: none;"><a
									href="javascript:;" style="white-space: normal;"><i
										class="icon-info"></i> <span></span> </a></li>

								<li><a href="/userInfo"> <i class="icon-user"></i>
										Хувийн тохиргоо
								</a></li>
								<li class="divider"></li>
								<li><a href="#" id="btnLogout"> <i class="icon-key"></i>
										Гарах

										<form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
											<input type="submit" value="Sign Out" />
										</form>
								</a></li>
							</ul></li>
						<!-- END USER LOGIN DROPDOWN -->
					</ul>
				</div>
				<!-- END TOP NAVIGATION MENU -->
			</div>
			<!-- END PAGE TOP -->
		</div>
		<!-- END HEADER INNER -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<div th:replace="fragments/menu :: menu"></div>

		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<span id="spanLayoutUserName" sec:authentication="name"
							style="display: none;"></span> <input type="hidden" id="__csrf__"
							th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />


						<div id="alert_container"></div>
						<div id="page-wrapper" layout:fragment="content"></div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="page-footer">
		<div class="page-footer-inner">&copy; Бүх эрх хуулиар хамгаалагдсан.</div>
		<div class="scroll-to-top">
			<i class="icon-arrow-up"></i>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]><![endif]-->
	<script  type="text/javascript" src="/assets/global/plugins/jquery.min.js" th:src="@{/assets/global/plugins/jquery.min.js}"></script>
	<script src="/assets/global/plugins/jquery-migrate.min.js"
		th:src="@{/assets/global/plugins/jquery-migrate.min.js}"
		type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="/assets/global/plugins/jquery-ui/jquery-ui.min.js"
		th:src="@{/assets/global/plugins/jquery-ui/jquery-ui.min.js}"
		type="text/javascript"></script>
	<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js"
		th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script
		src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
		th:src="@{/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}"
		type="text/javascript"></script>
	<script
		src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
		th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
		type="text/javascript"></script>
	<script src="/assets/global/plugins/jquery.blockui.min.js"
		th:src="@{/assets/global/plugins/jquery.blockui.min.js}"
		type="text/javascript"></script>
	<script src="/assets/global/plugins/jquery.cokie.min.js"
		th:src="@{/assets/global/plugins/jquery.cokie.min.js}"
		type="text/javascript"></script>
	<script src="/assets/global/plugins/uniform/jquery.uniform.min.js"
		th:src="@{/assets/global/plugins/uniform/jquery.uniform.min.js}"
		type="text/javascript"></script>
	<script
		src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
		th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"
		type="text/javascript"></script>

	<!-- END CORE PLUGINS -->
	<script src="/assets/global/plugins/bootbox/bootbox.min.js"
		th:src="@{/assets/global/plugins/bootbox/bootbox.min.js}"
		type="text/javascript"></script>
	<script src="/assets/global/scripts/metronic.js"
		th:src="@{/assets/global/scripts/metronic.js}" type="text/javascript"></script>
	<script src="/assets/admin/layout2/scripts/layout.js"
		th:src="@{/assets/admin/layout2/scripts/layout.js}"
		type="text/javascript"></script>
	<script src="/assets/admin/layout2/scripts/demo.js"
		th:src="@{/assets/admin/layout2/scripts/demo.js}"
		type="text/javascript"></script>
	<script src="/content/js/crswebutils.js"
		th:src="@{/content/js/crswebutils.js}" type="text/javascript"></script>
	<script src="/content/js/layout.js" th:src="@{/content/js/layout.js}"
		type="text/javascript"></script>
	<script>
		$(document).ready(function() {
			Metronic.init(); // init metronic core components
			Layout.init(); // init current layout
			Demo.init(); // init demo features
			CRSWebUtils.bootBoxAddLocale();

			var csrf = $("#__csrf__").val();
			var param = {};
			param._csrf = csrf;

			$.ajax({
				type : "POST",
				url : "/mnba/",
				async : true,
				dataType : "json",
				data : param,
				success : function(result) {
					$("#username").text(result.name);
					
					console.log(result.name);
					
					if (result.imageUrl){
						$('#userImage').attr('src', result.imageUrl.replace('//', '/'));
					}
					if (result.userInfo) {
						var pnlLayoutUserInfo = $("#pnlLayoutUserInfo");
						pnlLayoutUserInfo.find("span").text(result.userInfo);
						pnlLayoutUserInfo.show();
					}
				}
			});

		});
	</script>

	<div id="pagefoot" layout:fragment="pagefoot"></div>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>